doctype html
html
    head
        title="Hello Pug"
    body
        p.greetings#people I'm rendered from pug!
        //Plik header.pug
        div.header.
            Jestem nagłówkiem tej strony.

        //Plik content.pug

        //Plik footer.pug
        div.footer.
            Jestem stopką tej strony.