doctype html
html
    head
        title Simple authentication example
    body
        h1 Simple authentication example
        h3 Please Login
        form(method="POST")
            p Username 
            input(type="text", value="username")
            p
            input(type="submit" value="login")
